body {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: -윤고딕320;
    src: url("/static/font/윤고딕320.woff") format('woff');
}


.container {
    width: 100%;
    height: 100vh;
}

.l_imgbox {
    width: 50%;
    height: 100%;
    float: left;

    background-image: url("/static/img/포스터.png");
    background-size: cover;
    background-position: center;
}

.l_menu {
    width: 50%;
    height: 100%;
    float: left;

    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loginbar {
    width: 400px;
    height: 350px;

    border: 1px solid darkgrey;
    background-color: white;
}

.loginbar_img {
    width: 150px;
    height: 150px;

    margin-left: 120px;
}

.input_bar {
    margin-left: 45px;

}

.input_bar > input {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;

    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: #fafafa;

    font-size: 12px;
    font-weight: normal;
}

.btn_login {
    width: 315px;
    height: 40px;

    margin-top: 35px;

    background-color: black;

    border: 0;
    border-radius: 3px;
    font-family: -윤고딕320;
    font-size: 20px;
    font-weight: lighter;
    color: #fafafa;

    cursor: pointer;

}

.joinbar {
    width: 400px;
    height: 100px;

    margin-top: 20px;

    border: 1px solid darkgrey;

    background-color: white;
}

.join {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.btn_join {
    background-color: transparent !important;
    border-color: transparent;

    font-size: 15px;
    color: blue;
    font-weight: bold;

    cursor: pointer;
}