@font-face {
    font-family: -배민;
    src: url("/static/font/배민.woff") format('woff');
}

@font-face {
    font-family: -윤고딕;
    src: url("/static/font/윤고딕320.woff") format('woff');
}

textarea {
    width: 100%;
    border: none;
    resize: none;
}

.img-box {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 7%;
    background-image: url("/static/img/헤더.svg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-div {
    margin-top: 10px;
}

.menu-bar {
    font-family: -배민;
    font-size: 20px;
}

#logo {
    width: 50px;
    height: 50px;

    background-image: url("/static/img/로고.png");
    background-size: cover;
    background-position: center;


    margin-right: 1300px;
    margin-bottom: 10px;
}

.main {
    width: 100%;
    height: 93%;

    display: flex;
    flex-direction: column;
    background-color: white;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px auto;
}

.main-img {
    width: 300px;
    height: 300px;

    background-size: cover;
}

.title-box {
    width: 100%;
    height: 450px;

}

.text-title {
    margin-top: 20px;
    margin-left: 40px;

    font-family: -배민;
    font-size: 40px;
}

.text-title > img {
    width: 50px;
    height: 50px;

}

#btn-create {
    margin-top: 10px;

    padding-left: 70px;
    padding-right: 70px;
}

.cards-box {
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-list {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;

}

.name {
    font-family: -윤고딕320;
    font-size: 15px;
    font-weight: bold;
}

.list {
    width: 400px;
    height: 400px;

    border: 0;
}


.modal-footer {
    justify-content: space-between;
}
